@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #141414;
}

a {
    color: #cecece;
    text-decoration: none;
}
img {
    transition: 0.3s;
}
img:hover {
    scale: 1.05;
}
/*Secao Menu*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    margin: 0 auto;
    width: 1000px;
    color: #cecece;
}

.logo {
    color: red;
    font-weight: bold;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.menu__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 50px;
    transition: 0.2s;
}
.menu__item:hover {
    background-color: #232323;
}
.menu__icon {
    width: 20px;
    margin-right: 10px;
}
.container-input {
    display: flex;
    align-items: center;
    background-color: #232323;
    padding: 8px 12px;
    border-radius: 5px;
}
.menu__input {
    background-color: transparent;
    color: #cecece;
    font-size: 14px;
    border: none;
}
.menu__input:focus-visible {
    outline: none;
}
.input__icon {
    color: #cecece;
}

.container-series {
    width: 1200px;
    margin: 0 auto 30px;
}
.container-series__titulo {
    color: #cecece;
    margin-bottom: 20px;
}
.series {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.serie {
    color: #cecece;
}
.serie p {
    font-size: 18px;
    font-weight: 700;
}
.serie span {
    font-size: 14px;
}
.serie img {
    width: 100%;
    height: 550px;
    border-radius: 5px;
}

.rodape {
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}
